In [5]:
if True: #indentiation is always 4 spaces
    print('Data Science')

Data Science

In [7]:
if False:
    prit('Data Science')
print('bye for now')

bye for now

In [9]:
if True: #indentiation is always 4 spaces
    print('Data Science')
    print('bye for now')

Data Science
bye for now

In [11]:
# to print only even number

x=14
r= x % 2
if r==0:
    print('Even Number')
if r==1:
    print('Odd Number')

Even Number

In [13]:
x=14
r= x % 2
if r==0:
    print('Even Number')
else:
    print('Odd Number')

Even Number

In [15]:
x=11
r = x % 2
if r==0:
    print('Even Number')

In [17]:
x=5
r= x % 2
if r==0:
    print('Even Number')
print('Odd Number')

Odd Number

In [19]:
x=15
r= x % 2
if r==0:
    print('Even Number')
print('Odd Number')

Odd Number

In [21]:
x=8
r= x % 2
if r==0:
    print('Even Number')
if r==1:
    print('Odd Number')

Even Number

In [23]:
x=8
r= x % 2
if r==0:
    print('Even Number')
print('Odd Number')

Even Number
Odd Number

In [25]:
x=7
r= x % 2
if r==0:
    print('Even Number')
if r==1:
    print('Odd Number')

Odd Number

In [27]:
x=13
r= x % 2
if r==0:
    print('Even Number')
if r!=0:
    print('Odd Number')

Odd Number

In [29]:
x=2
r=x%2
if r==0:
    print('Even Number')
else:
    print('Odd Number')

Even Number

In [31]:
x=3
r=x%2
if r==0:
    print('Even Number')
    if x>5:
        print('greater number')
else:
    print('Odd Number')

Odd Number

In [33]:
x=4
r=x%2
if r==0:
    print('Even Number')
    if x>5:
        print('greater number')
else:
    print('Odd Number')

Even Number

In [35]:
x=2
r= x % 2
if r==0:
    print('Even Number')
    if x>5:
        print('greater number')
    else:
        print('not greater')
else:
    print('odd number')

Even Number
not greater

we do have concept of(IF-ELIF-ELSE)e.g. i wantto print(1-->one,2-->two,3-->three,4-->four,5-->fivr)

In [38]:
x=1
if(x==1):
    print('one')
if (x==2):
    print('two')
if(x==3):
    print('three')
if(x==4):
    print('four')

one

In [40]:
x=3
if(x==1):
    print('one')
elif (x==2):
    print('two')
elif(x==3):
    print('three')
elif(x==4):
    print('four')

three

In [42]:
x=5
if(x==1):
    print('one')
elif (x==2):
    print('two')
elif(x==3):
    print('three')
elif(x==4):
    print('four')

In [44]:
x=5
if(x==1):
    print('one')
elif (x==2):
    print('two')
elif(x==3):
    print('three')
elif(x==4):
    print('four')
else:
    print('wrong output')

wrong output

In [46]:
x=15
if(x==1):
    print('one')
elif (x==2):
    print('two')
elif(x==3):
    print('three')
elif(x==4):
    print('four')
else:
    print('wrong output')

wrong output

In [48]:
print('Data Science')

Data Science

In [50]:
print('Data Science')
print('Data Science')

Data Science
Data Science

LOOPS in programing world some time we keep on repeating ,may be you want to repeat 5 statement so one way is copy and paste multiple times or other way is. If you want to print the datascience 10 times then what you will you can't copy for 10 times, if you want to print 1000 times then you can do manualy, that is the reason why we need to apply loop loop & For loop 2 type of loops While loop and for loop

In [53]:
i=1 #initializng
while i<=5: #condition
    print('data science')
    i=i+1 #increment

data science
data science
data science
data science
data science

In [55]:
i=5 #initializng
while i>=1: #condition
    print('data scinece')
    i=i-1 #decremnt

data scinece
data scinece
data scinece
data scinece
data scinece

In [57]:
i=1 #initializng
while i<=5: #condition
    print('data scinece',':',i)
    i=i+1 #incremnt

data scinece : 1
data scinece : 2
data scinece : 3
data scinece : 4
data scinece : 5

In [59]:
i=5 #initializng
while i>=1: #condition
    print('data scinece',':',i)
    i=i-1 #decremnt

data scinece : 5
data scinece : 4
data scinece : 3
data scinece : 2
data scinece : 1

In [61]:
i=1
while i<=5:
    print('data science')
    j=1
    while j<=4:
        print(  'technology')
        j=j+1
   
    i=i+1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [63]:
i=1
while i<=10:
    print(i,':','data science')
    j=1
    while j<=4:
        print('    technology')
        j=j+1
   
    i=i+1
    print()

1 : data science
    technology
    technology
    technology
    technology

2 : data science
    technology
    technology
    technology
    technology

3 : data science
    technology
    technology
    technology
    technology

4 : data science
    technology
    technology
    technology
    technology

5 : data science
    technology
    technology
    technology
    technology

6 : data science
    technology
    technology
    technology
    technology

7 : data science
    technology
    technology
    technology
    technology

8 : data science
    technology
    technology
    technology
    technology

9 : data science
    technology
    technology
    technology
    technology

10 : data science
    technology
    technology
    technology
    technology

In [65]:
i=1
while i<=5:
    print('data science', end="")
    j=1
    while j<=4:
        print('technology',end="")
        j=j+1
        
    i=i+1
    print()

data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology

In [67]:
i = 1
while i<=5:
    print(' data science', end="")
    j = 1
    while j<=4:
        print(' technology',end="")
        j = j + 1
        
    i = i + 1
    print()

 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology

In [69]:
i = 1
while i<=5:
    print(' data science', end = " *")# when we mention end then new line will n
    j = 1
    while j<=4:
        print(' technology', end=" *")
        j = j + 1
    i = i + 1
    print()

 data science * technology * technology * technology * technology *
 data science * technology * technology * technology * technology *
 data science * technology * technology * technology * technology *
 data science * technology * technology * technology * technology *
 data science * technology * technology * technology * technology *

In [71]:
i = 1
while i <= 4 :
    j = 0
    while j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [73]:
name='nit'
for i in name:
    print(i)

n
i
t

In [75]:
name1=[1,3.5,'hallo']
for i in name1:
    print(i)

1
3.5
hallo

In [77]:
for i in [2,3,7.8,'hi']:
    print(i)

2
3
7.8
hi

In [79]:
for i in range(1,5):
    print(i)

1
2
3
4

In [81]:
for i in range(1,10,3):
    print(i)

1
4
7

In [83]:
#print the number which is not divisible by 5
for i in range(1,11):
    if i%5 != 0 :
        print(i)

1
2
3
4
6
7
8
9

In [85]:
#can you write the pythoncode for 5 multiplication table
for i in range(1,51):

    if i%5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

--> LETS DISCUSS ABOUT 3 KEYWORDS -- BREAK || CONTINUE || PASS
--> BREAK STATEMNT - if you apply break statment in a loop then it will end the lopo
--> Pass = skips block of code( function, class etc)
--> Continue= skips 1 step/iteration during loop
--> Break= jumps out of the function/loop

BREAK

In [89]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [91]:
for i in range(1,11):
    if i == 5:
        break ##==> WHILE YOU WORK WITH COMPUTER VISION PROJECT

In [93]:
for i in range(1,11):
    if i == 5:
        break # WHILE YOU WORK WITH COMPUTER VISION PROJECT
    print(i)

1
2
3
4

In [95]:
for i in range(1,11):
    if i == 5:
        break # WHILE YOU WORK WITH COMPUTER VISION PROJECT
print(i)

5

Continue - loop wont be terminate

In [98]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [100]:
for i in range(1,11):
    if i == 5:
        continue
    print('hello',i)

hello 1
hello 2
hello 3
hello 4
hello 6
hello 7
hello 8
hello 9
hello 10

PASS Statement - pass the code & it wont go

In [103]:
for i in range(1,11):
    pass

In [105]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [107]:
for j in range(4):
    print('#', end="  ")

#  #  #  #

In [108]:
for j in range(4):
    print('#', end="  ")

for j in range(4):
    print('#', end="  ")

#  #  #  #  #  #  #  #

In [111]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

#  #  #  #
#  #  #  #

In [113]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

print()

for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [115]:
for i in range(4):
    for j in range(4):
        print('#', end="  ")
    print()
    # pease use debug mode

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [117]:
for i in range(5):
    for j in range(i):
        print('#',end="  ")
    print()

#
#  #
#  #  #
#  #  #  #

In [119]:
for i in range(5):
    for j in range(4-i):
        print('#', end="  ")
    print()

#  #  #  #
#  #  #
#  #
#

In [121]:
for i in range(5):
    for j in range(4-i):
        print('*', end="  ")
    print()

*  *  *  *
*  *  *
*  *
*

In [123]:
for i in range(5):
    for j in range(i):
        print('*', end="  ")
    print()

*
*  *
*  *  *
*  *  *  *

For|Else in python

In [126]:
nums = [12,15,18,21,26]
for num in nums:
    if num % 5 == 0:
        print(num)

15

In [131]:
nums = [12,14,18,21,25]
for num in nums:
    if num % 5 == 0:
        print(num)

25

In [135]:
nums = [12,14,18,21,25,20]
for num in nums:
    if num % 5 == 0:
        print(num)

25
20

In [137]:
nums = [12,14,18,21,25,20]
for num in nums:
    if num % 5 == 0:
        print(num)
        break

25

In [139]:
nums = [10,14,18,21,20,25]
for num in nums:
    if num % 5 == 0:
        print(num)
        break #it will print only 1 number then it break

10

In [141]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got
for num in nums:
    if num % 5 == 0:
        print(num)
        # break

In [143]:
nums = [7,14,18,21,23,27,22] #hear there is no number which is divisible by 5 we g
for num in nums:
    if num % 5 == 0:
        print(num)
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found

In [145]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got
for num in nums:
    if num % 5 == 0:
        print(num)
        #break
    else:
        print('Not Found')

10
Not Found
Not Found
Not Found
20
Not Found

In [147]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got
for num in nums:
    if num % 5 == 0:
        print(num)
        break
    else:
        print('Not Found')

10

In [ ]:
# prime number - how to check given number is prime number or not

In [149]:
num = 12
for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
    else:
        print('Prime Number')

Not prime Number

In [151]:
num = 13
for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
    else:
        print('Prime Number')

Prime Number
Prime Number
Prime Number
Prime Number
Prime Number
Prime Number
Prime Number
Prime Number
Prime Number
Prime Number
Prime Number